line-length = 100
target-version = "py310"
extend-exclude = [
  ".venv",
  "venv",
  "node_modules",
  "build",
  "dist"
]

[lint]
select = [
  "E",  # pycodestyle
  "F",  # pyflakes
  "I",  # isort
  "UP", # pyupgrade
  "B",  # flake8-bugbear
]
ignore = [
  "E203",  # Compatible with Black spacing before :
  "E501",  # Line too long
]

[format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"
