apiVersion: v1
kind: Service
metadata:
  name: {{ include "pipecat-daily-bot.fullname" . }}
  namespace: {{ include "pipecat-daily-bot.fullname" . }}
  labels:
    {{- include "pipecat-daily-bot.labels" . | nindent 4 }}
spec:
  {{- if .Values.service.headless }}
  clusterIP: None
  {{- else if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    {{- include "pipecat-daily-bot.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
